.name {
    color:blue;
    
}
.size {
    color:blue;
    
}
.Loction{
    color:blue;
    
}
.phone {
    color:blue;
    
}

.red {
    background-color; red:
}

.stn {
    height; 100%;
    
    
}